/*Paleta de Colores*/
:root {
    --color_primario: #607D8B;
    --color_primario_oscuro: #455A64;
    --color_primario_suave: #CFD8DC;
    --texto_primario: #212121;
    --texto_secundario: #757575;
    --texto_iconos: #FFFFFF;
    --color_de_acento: #795548;
    --color_divisor: #BDBDBD;
    --altura_header: 80px;
    --padding_left_right: 2rem;
    --ancho_maximo: 1200px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: var(--color_divisor);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
a{
    text-decoration: none;
}
ol,ul{
    list-style: none;
}

/*Estilo menu principal*/
.header{
    height: var(--altura_header);
    background: linear-gradient(to right, #455A64, #607D8B, #CFD8DC, #BDBDBD, #795548);
    padding-bottom: 20px;
}
.logo{
    width: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.navbar {
    height: 100%;
    display: flex;
    width: min(1200px, 100%);
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    position:relative;
    padding: 0 var(--padding_left_right);
    z-index: 1;
}
.menu_hamburguesa{
    display: none;
}
.menu_hamburguesa:checked + .ul_links {
    height: calc(100vh - var(--altura_header));
}
.logo {
    color: var(--texto_iconos)
}

.list_icon {
    color: var(--texto_iconos)
}

.ul_links {
    width: 100%;
    background-color: linear-gradient(to right, #455A64, #607D8B, #CFD8DC, #BDBDBD, #795548);
    position: absolute;
    top: var(--altura_header);
    left: 0;
    height: 0;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 3rem;
    transition: all .3s;
}

.menu_principal {}

.link_menu {
    font-size: 2.5rem;
    color: var(--texto_primario);
    font-weight: bold;
}
@media (min-width:768px){
    .label_hamburguesa{
        display:none;
    }
    .ul_links{
        position: static;
        width: auto;
        height: auto;
        flex-direction: row;
        gap: 2rem;
    }
    .link_menu{
        font-size: 1.2rem;
        transition: all .3s;
        padding: .2rem .7rem;
    }
    .link_menu:hover{
        background-color: #8057497c;
    }
}
.slider{
    padding: 20px;
    width: 1200px;
    height: auto;
    margin: 0 auto 0;
    overflow: hidden;
    z-index: -1;
}
.slider_img{
    height: 100vh;
    width: 1200px;
    padding: 0;
}
.slider ul{
    display: flex;
    padding: 0;
    width: 400%;
    animation: slide 20s infinite alternate ease-in-out;
}
.slider li{
    width: 100%;
    list-style: none;
    position: relative;
}
@keyframes slide {
    0%{margin-left: 0;}
    20%{margin-left: 0;}

    25%{margin-left: -100%;}
    45%{margin-left: -100%;}

    50%{margin-left: -200%;}
    70%{margin-left: -200%;}

    75%{margin-left: -300%;}
    100%{margin-left: -300%;}
}
@media (max-width: 1200px){
    body{
        padding: 10px;
    }
    .slider{
        width: 100%;
    }
}
/*<!--Pie de la Pagina-->*/
.footer {
    background: linear-gradient(to right, #455A64, #607D8B, #CFD8DC, #BDBDBD, #795548);
    padding: 20px;
    text-align: center;
}

.listasPie {
    list-style-type: none;
    padding: 0;
}

.listasPie li {
    display: inline;
    margin-right: 15px;
}

.letrasPie {
    color: var(--texto_primario);
    text-decoration: none;
    font-size: 14px;
}